<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
    <Fragment>

        <!--
            #########################################
            # Rename all files that we will overwrite
            #########################################
        -->

        <CustomAction Id='SetCmdPathWeb' Property='CmdPathWeb' Value='[SystemFolder]cmd.exe' />
        <!--<CustomAction Id='RunCmdMoveX' Property='CmdPathWeb' ExeCommand='/c ren &quot;[RAPTORWEBDIR]conf\X.xml&quot; X.xml.vx.x.x.autosaved' />-->

        <InstallExecuteSequence>
            <Custom Action='SetCmdPathWeb' After='SetUNINSTALLING' />
            <!--<Custom Action='RunCmdMoveX' After='SetCmdPathWeb'>UPGRADING</Custom>-->
        </InstallExecuteSequence>



        <!--
            ############
            # The Files!
            ############
        -->

        <DirectoryRef Id='RAPTORWEBDIR'>            
            <Directory Id='dirRaptorWebConf' Name='conf'>



                <!--
                    ########################
                    # Dist Files Directory - i.e. the latest, unedited version of each file
                    ########################
                -->

                <Directory Id='RaptorWebConfDistDir' Name='dist'>
                    <Component Id='cmpRaptorWebConfDashboardStatisticsDist' Guid='*'>
                        <File Id='filRaptorWebConfDashboardStatisticsDist' KeyPath='yes' Source='source\web\conf\dashboard-statistics.xml'/>
                        <RemoveFile Id='filRaptorWebConfDashboardStatisticsDistRem' Name="dashboard-statistics.xml" On="install"/>
                    </Component>
                    <Component Id='cmpRaptorWebConfLoggingDist' Guid='*'>
                        <File Id='filRaptorWebConfLoggingDist' KeyPath='yes' Source='source\web\conf\logging.xml'/>
                        <RemoveFile Id='filRaptorWebConfLoggingDistRem' Name="logging.xml" On="install"/>
                    </Component>
                    <Component Id='cmpRaptorWebConfMetadataDist' Guid='*'>
                        <File Id='filRaptorWebConfMetadataDist' KeyPath='yes' Source='source\web\conf\metadata.xml'/>
                        <RemoveFile Id='filRaptorWebConfMetadataDistRem' Name="metadata.xm" On="install"/>
                    </Component>
                    <Component Id='cmpRaptorWebConfMuaEndpointsDist' Guid='*'>
                        <File Id='filRaptorWebConfMuaEndpointsDist' KeyPath='yes' Source='source\web\conf\mua-endpoints.xml'/>
                        <RemoveFile Id='filRaptorWebConfMuaEndpointsDistRem' Name="mua-endpoints.xml" On="install"/>
                    </Component>
                    <Component Id='cmpRaptorWebConfServerPropertiesDist' Guid='*'>
                        <File Id='filRaptorWebConfServerPropertiesDist' KeyPath='yes' Source='source\web\conf\server.properties'/>
                        <RemoveFile Id='filRaptorWebConfServerPropertiesDistRem' Name="server.properties" On="install"/>
                    </Component>
                    <Component Id='cmpRaptorWebConfUsersDist' Guid='*'>
                        <File Id='filRaptorWebConfUsersDist' KeyPath='yes' Source='source\web\conf\users.xml'/>
                        <RemoveFile Id='filRaptorWebConfUsersDistRem' Name="users.xml" On="install"/>
                    </Component>
                    <Component Id='cmpRaptorWebConfWebCoreDist' Guid='*'>
                        <File Id='filRaptorWebConfWebCoreDist' KeyPath='yes' Source='source\web\conf\web-core.xml'/>
                        <RemoveFile Id='filRaptorWebConfWebCoreDistRem' Name="web-core.xml" On="install"/>
                    </Component> 
                </Directory>



                <!--
                    ########################
                    # Actual files, but some set not to overwrite existing files
                    ########################
                -->

                <Component Id='cmpRaptorWebConfDashboardStatistics' Guid='*'>
                    <File Id='filRaptorWebConfDashboardStatistics' KeyPath='yes' Source='source\web\conf\dashboard-statistics.xml'/>
                    <RemoveFile Id='filRaptorWebConfDashboardStatisticsRem' Name="dashboard-statistics.xml" On="install"/>
                </Component>

                <Component Id='cmpRaptorWebConfLogging' Guid='*' NeverOverwrite='yes'>
                    <File Id='filRaptorWebConfLogging' KeyPath='yes' Source='source\web\conf\logging.xml'/>
                </Component>

                <Component Id='cmpRaptorWebConfMetadata' Guid='*' NeverOverwrite='yes'>
                    <File Id='filRaptorWebConfMetadata' KeyPath='yes' Source='source\web\conf\metadata.xml'/>

                    <!-- Change the metadata with info collected from the UI -->
                    <util:XmlFile Id='ModifyWebEntityId'
                      File='[#filRaptorWebConfMetadata]'
                      Action='setValue'
                      ElementPath='//beans/bean/property[\[]@name="entityId"[\]]/value'
                      Value='[WEBENTITYID]'/>
                    <util:XmlFile Id='ModifyWebContactEmail'
                      File='[#filRaptorWebConfMetadata]'
                      Action='setValue'
                      ElementPath='//beans/bean/property[\[]@name="contactEmail"[\]]/value'
                      Value='[WEBCONTACTEMAIL]'/>
                    <util:XmlFile Id='ModifyWebServiceName'
                      File='[#filRaptorWebConfMetadata]'
                      Action='setValue'
                      ElementPath='//beans/bean/property[\[]@name="serviceName"[\]]/value'
                      Value='[WEBSERVICENAME]'/>
                    <util:XmlFile Id='ModifyWebOrganisationName'
                      File='[#filRaptorWebConfMetadata]'
                      Action='setValue'
                      ElementPath='//beans/bean/property[\[]@name="organisationName"[\]]/value'
                      Value='[WEBORGANISATIONNAME]'/>

                </Component>

                <Component Id='cmpRaptorWebConfMuaEndpoints' Guid='*' NeverOverwrite='yes'>
                    <File Id='filRaptorWebConfMuaEndpoints' KeyPath='yes' Source='source\web\conf\mua-endpoints.xml'/>

                    <!-- Change the trust and keystore locations to Windows style -->
                    <util:XmlFile Id='ModifyWebMuaEndpointsTrustStoreLocation'
                      File='[#filRaptorWebConfMuaEndpoints]'
                      Action='setValue'
                      ElementPath='//beans/bean[\[]@id="serviceEndpointClient"[\]]/property[\[]@name="tlsParameters"[\]]/bean[\[]@class="uk.ac.cardiff.raptor.remoting.client.sei.impl.ClientTLSParameters"[\]]/property[\[]@name="trustStoreLocation"[\]]/value'
                      Value='[RAPTORWEBDIR]keys\authorised-keys.jks'/>
                    <util:XmlFile Id='ModifyWebMuaEndpointsKeyStoreLocation'
                      File='[#filRaptorWebConfMuaEndpoints]'
                      Action='setValue'
                      ElementPath='//beans/bean[\[]@id="serviceEndpointClient"[\]]/property[\[]@name="tlsParameters"[\]]/bean[\[]@class="uk.ac.cardiff.raptor.remoting.client.sei.impl.ClientTLSParameters"[\]]/property[\[]@name="keyStoreLocation"[\]]/value'
                      Value='[RAPTORWEBDIR]keys\raptor-web.jks'/>

                    <!-- Change the keystore location for the default MUA to Windows style -->
                    <util:XmlFile Id='ModifyWebMuaEndpointsMuaEntityTrustStoreLocation'
                    File='[#filRaptorWebConfMuaEndpoints]'
                    Action='setValue'
                    ElementPath='//beans/bean[\[]@id="muaRegistry"[\]]/property[\[]@name="MUAEntries"[\]]/list/bean[\[]@id="localMUA"[\]]/property[\[]@name="publicKey"[\]]/value'
                    Value='[RAPTORWEBDIR]keys\authorised-keys.jks'/>

                    <!-- Change the location of the MUA based on info collected from the UI -->
                    <!-- TODO -->

                </Component>

                <Component Id='cmpRaptorWebConfServerProperties' Guid='*' NeverOverwrite='yes'>
                    <File Id='filRaptorWebConfProperties' KeyPath='yes' Source='source\web\conf\server.properties'/>
                </Component>

                <Component Id='cmpRaptorWebConfUsers' Guid='*' NeverOverwrite='yes'>
                    <File Id='filRaptorWebConfUsers' KeyPath='yes' Source='source\web\conf\users.xml'/>
                </Component>

                <Component Id='cmpRaptorWebConfWebCore' Guid='*'>
                    <File Id='filRaptorWebConfWebCore' KeyPath='yes' Source='source\web\conf\web-core.xml'/>
                    <RemoveFile Id='filRaptorWebConfWebCoreRem' Name="web-core.xml" On="install"/>
                </Component>

            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id='cgrRaptorWebConf'>
            <ComponentRef Id='cmpRaptorWebConfDashboardStatisticsDist' />
            <ComponentRef Id='cmpRaptorWebConfLoggingDist' />
            <ComponentRef Id='cmpRaptorWebConfMetadataDist' />
            <ComponentRef Id='cmpRaptorWebConfMuaEndpointsDist' />
            <ComponentRef Id='cmpRaptorWebConfServerPropertiesDist' />
            <ComponentRef Id='cmpRaptorWebConfUsersDist' />
            <ComponentRef Id='cmpRaptorWebConfWebCoreDist' />
            <ComponentRef Id='cmpRaptorWebConfDashboardStatistics' />
            <ComponentRef Id='cmpRaptorWebConfLogging' />
            <ComponentRef Id='cmpRaptorWebConfMetadata' />
            <ComponentRef Id='cmpRaptorWebConfMuaEndpoints' />
            <ComponentRef Id='cmpRaptorWebConfServerProperties' />
            <ComponentRef Id='cmpRaptorWebConfUsers' />
            <ComponentRef Id='cmpRaptorWebConfWebCore' />
        </ComponentGroup>
    </Fragment>
</Wix>