<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="RAPTORMUADIR">
            <Component Id="cmpRaptorMuaJar" Guid="*">
                <File Id="filRaptorMuaJar" KeyPath="yes" Source="source\mua\raptor-mua.jar" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="cgrRaptorMuaRoot">
            <ComponentRef Id="cmpRaptorMuaJar" />
        </ComponentGroup>
    </Fragment>
</Wix>