<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Fragment>
        <DirectoryRef Id='RAPTORICADIR'>
            <Directory Id='dirRaptorIcaLogs' Name='logs'>
                <Component Id='cmpRaptorIcaLogsDir' Guid='34d6f98e-365d-4901-9243-f869fc109213'>
                    <CreateFolder />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id='cgrRaptorIcaLogs'>
            <ComponentRef Id='cmpRaptorIcaLogsDir' />
        </ComponentGroup>
    </Fragment>
</Wix>