<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="RAPTORICADIR">
            <Directory Id="dirRaptorIcaKeys" Name="keys">
                <Component Id="cmpRaptorIcaKeysAuthorisedKeys" Guid="*">
                    <File Id="filRaptorIcaKeysAuthorisedKeys" KeyPath="yes" Source="source\ica\keys\authorised-keys.jks" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="cgrRaptorIcaKeys">
            <ComponentRef Id="cmpRaptorIcaKeysAuthorisedKeys" />
        </ComponentGroup>
    </Fragment>
</Wix>