<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Fragment>
        <DirectoryRef Id='RAPTORWEBDIR'>
            <Directory Id='dirRaptorWebBin' Name='bin'>
                <Component Id='cmpRaptorWebBinWebBat' Guid='*'>
                    <File Id='filRaptorWebBinWebBat' KeyPath='yes' Source='source\web\bin\raptorweb.bat' />
                </Component>
                <Component Id='cmpRaptorWebBinWrapperExe' Guid='*'>
                    <File Id='filRaptorWebBinWrapperExe' KeyPath='yes' Source='source\web\bin\wrapper.exe' />
                </Component>
                <Component Id='cmpRaptorWebBinWrapperConf' Guid='*'>
                    <File Id='filRaptorWebBinWrapperConf' KeyPath='yes' Source='source\web\bin\raptorweb-wrapper.conf' />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id='cgrRaptorWebBin'>
            <ComponentRef Id='cmpRaptorWebBinWebBat' />
            <ComponentRef Id='cmpRaptorWebBinWrapperExe' />
            <ComponentRef Id='cmpRaptorWebBinWrapperConf' />
        </ComponentGroup>
    </Fragment>
</Wix>